<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>MentalWellness - Register</title>
</head>
<body class="dark-floral-bg">
<div th:replace="~{fragments/header :: header}"></div>
<section class="form-card flower-border">
    <h2>Join the Garden 🌼</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" placeholder="Name">
        <input type="email" th:field="*{email}" placeholder="Email">
        <input type="password" th:field="*{password}" placeholder="Password">
        <button type="submit">Register</button>
    </form>
  <div style="display: flex; align-items: center; gap: 8px;">

    <p>Have an account?</p>
<a th:href="@{/login}">
    Login
</a>
</div>

</section>
</body>
</html>
